body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    border: 1px solid #000;
}
#toolTip{
    display: flex;
    background-color: rgb(200, 195, 195);
    justify-content: left;
    align-items: center;
}
h1{
    margin: 10px;
}
#colorPicker{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    overflow: scroll;
    padding: 5px;
    height: 80px;
    margin: 10px;
}
#colorPicker button,
#colorPicker input{
    width: 25px;
    height: 25px;
    margin: 5px;
    border: none;
}

#sliderContainer p{
    text-align: center;
}

#sliderContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}