* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: goldenrod;
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
}
#banner,
#tabs {
  width: 100%;
  background-color: green;
  padding: 20px;
  color: white;
}
#bodyObject {
  margin: auto;
}
#clock2 {
  text-decoration: underline;
}
#banner {
  display: flex;
  justify-content: space-between;
}
#main {
  margin: auto;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}
.tab {
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
.tab:hover {
  background-color: darkgreen;
}
#mainSide {
  background-color: yellowgreen;
}
#homeTab {
  padding: 20px;
  color: black;
  font-size: 24px;
  text-align: center;
}
#clock {
  font-size: 60px;
}
#timerTab,
#calculatorTab,
#canvasTab,
#searchTab {
  display: none;
}
#searchTab {
  text-align: center;
  padding: 40px;
}
#timerTab {
  text-align: center;
  padding: 20px;
}
#timerTab input,
#timerTab button,
#timerTab span {
  text-align: center;
  background: none;
  border: none;
  font-size: 48px;
  width: 120px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
#timerTab button {
  background-color: green;
  color: white;
}
.searcher {
  padding: 20px;
  background-color: goldenrod;
  font-size: 24px;
}
.searcher button,
.searcher input {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: green;
  padding: 10px;
}
form input {
  width: 80%;
  border: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
form button {
  width: 20%;
  border: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: none;
}
#weatherFlexContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}
#weatherFlexContainer div {
  text-align: center;
  margin: 10px;
}
@media screen and (max-width: 950px) {
  .tab {
    margin: auto;
    text-align: center;
  }
  #tabs,
  #main,
  #banner {
    display: block;
  }
  #banner {
    text-align: center;
  }
  .searcher input {
    width: 100%;
  }
  #weatherFlexContainer {
    display: block;
  }
}
#canvasIframe {
  padding: 10px;
}
footer {
  padding: 20px;
  background-color: green;
  color: white;
}
footer a {
  color: yellowgreen;
}
footer a:hover {
  color: yellow;
}

#loadingScreen {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 1); /* Black w/ opacity */
}

/* Modal Content/Box */
#loadingScreenContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 40vh;
  overflow: scroll;
  text-align: center;
}

#loadingScreenBTN {
  display: none;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  font-size: 24px;
  margin: 20px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

#loadingScreenBTN:hover {
  background-color: white;
  color: black;
}

#weatherContainer {
  overflow: scroll;
  height: 200px;
}

.weatherPart button {
  background-color: green;
  color: white;
  padding: 5px;
  border: none;
  font-size: 14px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.weatherPart button:hover {
  background-color: darkgreen;
}

.weatherPart button:disabled {
  background-color: yellow;
  color: black;
  cursor: not-allowed;
}

.weatherPart p {
  font-size: 18px;
  text-align: left;
}
.weatherPart span {
  text-decoration: underline;
  margin: 10px;
}
